/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --aside-width: 200px;
    --footer-height: 60px;
    --upgrade-height: 60px;
    --grey-txt-color: #a3a3a3;
    --aside-padding: 0.8rem;
    --main-padding: 0.8rem;
}

/* DEBUG */
section {
    background-color: aqua;
    border: 1px solid red;
}
.col {
    background-color: yellow;
    border: 1px solid black;
}
.card {
    background-color: blue;
}
/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--grey-txt-color);
    background-color: #141922;
}
aside,
main {
    height: calc(100vh - var(--footer-height));
}
.flex-container {
    display: flex;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
li:hover a,
a:hover {
    color: white;
}
h2 {
    margin: 0.8rem 0;
    font-size: 1.1rem;
    color: white;
}

/* UPGRADE */
.upgrade {
    width: calc(100% - var(--aside-width));
    height: var(--upgrade-height);
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.upgrade-btn {
    margin-right: 0.8rem;
    padding: 0.7em 2.5em;
    font-size: 0.6rem;
    display: inline-block;
    border-radius: 3em;
    border: 1px solid white;
}
.upgrade-btn:hover {
    transform: scale(1.1);
}

/* ASIDE NAVIGATIONS */
aside {
    width: var(--aside-width);
    background-color: black;
    overflow-y: hidden;
    flex-direction: column;
}

/* BIG SCREEN ASIDE */
.side-nav-logo {
    padding: 1rem var(--aside-padding);
}
.big-logo {
    width: 65%;
}
.side-nav li,
.new-playlist,
.playlists li {
    padding-left: var(--aside-padding);
}
.side-nav img {
    width: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    filter: invert(40%);
}
.side-nav span {
    vertical-align: middle;
}
.side-nav li {
    margin-bottom: 0.3rem;
}
.side-nav li:hover,
.playlists li:hover {
    box-shadow: 2px 0 #91c72c inset;
}
.side-nav li:hover img {
    filter: none;
}
.playlist-title {
    margin: 1.5rem 0 0.5rem;
    color: white;
}
.new-playlist {
    margin-bottom: 0.5rem;
}
.new-playlist span {
    vertical-align: middle;
}
.plus {
    margin-right: 0.3rem;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    color: black;
    background-color: var(--grey-txt-color);
}
.create:hover .plus {
    background-color: white;
    cursor: pointer;
}
.create:hover > a {
    color: white;
}
.playlists {
    min-height: 4.5rem;
    flex-grow: 1;
    overflow-y: auto;
}
.playlists li {
    line-height: 1.6rem;
}
.aside-bottom {
    padding: 0 var(--aside-padding);
    width: var(--aside-width);
    background-color: black;
}
.install {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--grey-txt-color);
}
.app-install {
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid var(--grey-txt-color);
    display: inline-block;
    font-size: 0.5rem;
    border-radius: 50%;
    line-height: 0.8rem;
    text-align: center;
}
.install:hover .app-install {
    border: 1px solid white;
}
.install:hover {
    color: white;
}
.install > a {
    font-size: 0.6rem;
}
.profile {
    padding: 0.6rem 0;
}
.user-name,
.profile-pic {
    vertical-align: middle;
}
.profile-pic {
    margin-right: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--grey-txt-color);
}
.user-name {
    font-weight: 700;
    color: white;
}
.user-name:hover {
    color: #91c72c;
}

/* SMALL SCREEN ASIDE */
.small-screens-aside {
    display: none;
}
.side-nav-logo .small-logo {
    width: 1.3rem;
    display: none;
}

/* MAIN CONTENT */
main {
    padding: 0 var(--main-padding);
    width: calc(100% - var(--aside-width));
    overflow-y: auto;
}

/* MAIN NAV */
.main-nav {
    margin-top: var(--upgrade-height);
}
.main-nav li {
    width: 5rem;
    text-align: center;
}
.main-nav a {
    font-size: 0.5rem;
    line-height: 2rem;
}
.main-nav .flex-container {
    max-width: 1100px;
    justify-content: center;
    flex-wrap: wrap;
}
.main-nav a {
    position: relative;
}
.main-nav a::before {
    content: "";
    width: 55%;
    border-bottom: 1.5px solid #91c72c;
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    transform:translateX(-50%);
    display: none;
}
.main-nav li:hover a::before {
    display: block;
}

/* MAIN SECTIONS */
section > .flex-container {
    flex-wrap: wrap;
    gap: calc(3rem / 5);
}
.col {
    width: calc(100% / 6 - 0.5rem)
}

/* FIRST SECTION */
.main-card-img {
    position: relative;
}
.player {
    /* display: none; */
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main-card-img:hover .player {
    display: block;
}
.main-card-img:hover > img {
    filter: brightness(35%);
}

.player a {
    
}

/* FOOTER PLAYER */
footer {
    height: var(--footer-height);
    background-color: #282828;
}

/***************************************************
                    MEDIA QUERIES
***************************************************/
/* MD */
@media screen and (max-width: 1100px) {
    /* MAIN SECTIONS */
    section > .flex-container {
        gap: calc(2rem / 3);
    }
    .col {
        width: calc(100% / 4 - 0.5rem)
    }
}

/* S */
@media screen and (max-width: 700px) {
    /* MAIN SECTIONS */
    section > .flex-container {
        gap: 0.5rem;
    }
    .col {
        width: calc(100% / 2 - 0.25rem)
    }
}

/* XS */
@media screen and (max-width: 600px) {
    /* VARIABLES */
    :root {
        --aside-width: 50px;
        --aside-padding: 0;
    }

    /* COMMON */
    .small-screen-hidden {
        display: none;
    }

    /* ASIDE NAVIGATIONS */
    aside {
        text-align: center;
    }
    .side-nav-logo .small-logo {
        display: inline-block;
    }
    .install {
        border-bottom: none;
    }
    .profile-pic {
        margin-right: 0;
    }
    .side-nav li:hover,
    .playlists li:hover {
        box-shadow: none;
    }
}