/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --aside-width: 160px;
    --footer-height: 60px;
    --footer-margin: 1rem;
    --footer-padding: 0.4rem;
    --upgrade-height: 60px;
    --grey-txt-color: #a3a3a3;
    --aside-padding: 0.8rem;
    --main-padding: 0.8rem;
}

/* DEBUG */

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--grey-txt-color);
    background-color: #141922;
}
aside,
main {
    height: calc(100vh - var(--footer-height));
}
.flex-container {
    display: flex;
}
ul {
    list-style-type: none;
}
img {
    width: 100%;
    display: block;
}
.rounded-img {
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: inherit;
}
li:hover a,
a:hover {
    color: white;
}
h2 {
    font-size: 1.1rem;
    color: white;
}
h3 {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: white;
}
h4 {
    font-size: 0.7rem;
    color: white;
}
.subtitle {
    margin-top: 0.3rem;
    display: inline-block;
    font-size: 0.6rem;
}

/* UPGRADE */
.upgrade {
    width: calc(100% - var(--aside-width));
    height: var(--upgrade-height);
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 5;
}
.upgrade-btn {
    margin-right: 0.8rem;
    padding: 0.7em 2.5em;
    font-size: 0.6rem;
    display: inline-block;
    border-radius: 3em;
    border: 1px solid white;
}
.upgrade-btn:hover {
    transform: scale(1.1);
}

/* ASIDE NAVIGATIONS */
aside {
    width: var(--aside-width);
    background-color: black;
    overflow-y: hidden;
    flex-direction: column;
}

/* BIG SCREEN ASIDE */
.side-nav-logo {
    padding: 1rem var(--aside-padding);
}
.big-logo {
    width: 65%;
}
.side-nav li,
.new-playlist,
.playlists li {
    padding-left: var(--aside-padding);
}
.side-nav img {
    width: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    filter: invert(40%);
}
.side-nav span {
    vertical-align: middle;
}
.side-nav li {
    margin-bottom: 0.3rem;
}
.side-nav li:hover,
.playlists li:hover {
    box-shadow: 2px 0 #91c72c inset;
}
.side-nav li:hover img {
    filter: none;
}
.playlist-title {
    margin: 1.5rem 0 0.5rem;
    color: white;
}
.new-playlist {
    margin-bottom: 0.5rem;
}
.new-playlist span {
    vertical-align: middle;
}
.plus {
    margin-right: 0.3rem;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    color: black;
    background-color: var(--grey-txt-color);
}
.create:hover .plus {
    background-color: white;
    cursor: pointer;
}
.create:hover > a {
    color: white;
}
.playlists {
    min-height: 4.5rem;
    flex-grow: 1;
    overflow-y: auto;
}
.playlists li {
    line-height: 1.6rem;
}
.aside-bottom {
    padding: 0 var(--aside-padding);
    width: var(--aside-width);
    background-color: black;
}
.install {
    padding: 0.5rem 0;
    display: inline-block;
    color: var(--grey-txt-color);
}
.install * {
    vertical-align: middle;
}
.install img {
    width: 1rem;
    display: inline-block;
    filter: brightness(50%);
}
.install:hover img {
    filter: none;
    cursor: pointer;
}
.install:hover > a {
    color: white;
}
.install > a {
    font-size: 0.6rem;
}
.profile {
    padding: 0.6rem 0;
    border-top: 1px solid var(--grey-txt-color);
}
.user-name,
.profile-pic {
    vertical-align: middle;
}
.profile-pic {
    margin-right: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--grey-txt-color);
}
.user-name {
    font-weight: 700;
    color: white;
}
.user-name:hover {
    color: #91c72c;
}

/* SMALL SCREEN ASIDE */
.small-screens-aside {
    display: none;
}
.side-nav-logo .small-logo {
    width: 1.3rem;
    display: none;
}

/* MAIN CONTENT */
main {
    padding: 0 var(--main-padding);
    width: calc(100% - var(--aside-width));
    overflow-y: auto;
}

/* MAIN NAV */
.main-nav {
    margin-top: var(--upgrade-height);
}
.main-nav li {
    width: 5rem;
    text-align: center;
}
.main-nav a {
    font-size: 0.5rem;
    line-height: 2rem;
}
.main-nav .flex-container {
    max-width: 1100px;
    justify-content: center;
    flex-wrap: wrap;
}
.main-nav a {
    position: relative;
}
.main-nav a::before {
    content: "";
    width: 55%;
    border-bottom: 1.5px solid #91c72c;
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    transform:translateX(-50%);
    display: none;
}
.main-nav li:hover a::before {
    display: block;
}

/* MAIN SECTIONS */
section {
    margin: 0.5rem 0;
}
.section-title {
    margin: 2.5rem 0 1.2rem;
}
section > .flex-container {
    flex-wrap: wrap;
    gap: calc(3rem / 5);
}
.col {
    width: calc(100% / 6 - 0.5rem)
}
.main-card-img {
    position: relative;
}
.player {
    /* display: none; */
    font-size: 25px;
    color: white;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main-card-img:hover .player {
    display: block;
}
.main-card-img:hover > img {
    filter: brightness(35%);
}
.card-txt {
    text-align: center;
}

/* FOOTER PLAYER */
footer {
    padding: 0 var(--footer-padding);
    height: var(--footer-height);
    background-color: #282828;
    align-items: center;
    color: white;
}
footer > div {
    width: calc(var(--aside-width) - var(--footer-padding));
}
footer > div:nth-child(2) {
    flex-grow: 1;
}

/* SONG SIDE */
.song-side {
    align-items: center;
}
.song-side > div:first-of-type {
    flex-grow: 1;
}
.player-img,
.song-side div:first-of-type,
.song-side-icons span {
    margin-right: 0.5rem;
}
.player-img {
    width: auto;
    height: 3rem;
}
.song-name {
    font-size: 0.5rem;
    color: var(--grey-txt-color);
}
.song-side div:first-child {
    flex-grow: 1;
}
.song-side-icons {
    color: var(--grey-txt-color);
}
.song-side-icons span:hover {
    color: white;
}

/* CONTROLS SIDE */
.controls-side {
    padding: 0 var(--footer-padding);
    text-align: center;
}
.footer-play {
    margin: 0 var(--footer-margin);
}
.controls > span:nth-child(2) {
    margin-left: var(--footer-margin);
}
.controls > span:nth-child(4) {
    margin-right: var(--footer-margin);
}
.controls > span {
    cursor: pointer;
}
.controls-side > div:last-of-type {
    margin-top: 0.6rem;
}
.controls-side > div:last-of-type  span {
    font-size: 0.5rem;
}

/* VOLUME SIDE */
.volume-side {
    align-items: center;
}
.volume-side > span {
    margin-right: 0.7rem;
    cursor: pointer;
}
.volume-bar {
    flex-grow: 1;
}

/* CUSTOM FOOTER BARS */
.custom-bar {
    height: 3px;
    border-radius: 3px;
    background-color: #5a5a5a;
}
.custom-bar > div {
    width: 25%;
    height: 100%;
    border-radius: 3px;
    background-color: white;
}

.progress-bar {
    margin: 0 var(--footer-margin);
    width: 50%;
    display: inline-block;
}

/***************************************************
                    MEDIA QUERIES
***************************************************/
/* MD */
@media screen and (max-width: 1100px) {
    /* MAIN SECTIONS */
    section > .flex-container {
        gap: calc(2rem / 3);
    }
    .col {
        width: calc(100% / 4 - 0.5rem)
    }
}

/* S */
@media screen and (max-width: 700px) {
    /* VARIABLES */
    :root {
        --footer-margin: 3%;
    }

    /* MAIN SECTIONS */
    section > .flex-container {
        gap: 0.5rem;
    }
    .col {
        width: calc(100% / 2 - 0.25rem)
    }

    /* FOOTER */
    footer > div{
        width: 25%;
    }
    .volume-side > span {
        margin-right: var(--footer-margin);
        cursor: pointer;
    }
}

/* XS */
@media screen and (max-width: 600px) {
    /* VARIABLES */
    :root {
        --aside-width: 50px;
        --aside-padding: 0;
    }

    /* COMMON */
    .small-screen-hidden {
        display: none;
    }

    /* ASIDE NAVIGATIONS */
    aside {
        text-align: center;
    }
    .side-nav-logo .small-logo {
        display: inline-block;
    }
    .profile {
        border-top: none;
    }
    .profile-pic {
        margin-right: 0;
    }
    .side-nav li:hover,
    .playlists li:hover {
        box-shadow: none;
    }
    .side-nav {
        flex-grow: 1;
    }

    /* FOOTER */
    .player-img {
        height: 1.5rem;
    }
}